
.products{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    /* background-color: peru; */
    width: 100%;
    height: 100%; 
}
.top, .bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 40px;
}

@media screen and (max-width: 1067px) {
    .top, .bottom {
        gap: 20px;
    }
}
  
@media screen and (max-width: 978px) {
    .top, .bottom {

        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 870px) {
    .productBox {
        padding-left: 27px;
    }
}
/* @media screen and (max-width: 948px) {
    .productBox {
      grid-template-columns: 1fr;
    }
} */