
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Modern+Antiqua&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(228, 228, 228); */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.goldStar{
    color: gold;
}
/* .productBox {
    background-color: rgb(255, 229, 115);
    border-radius: 30px;
} */
.Block {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    /* background-color: rgb(186, 43, 43); */
    background-color: white;
    box-shadow: 8px 8px 20px  gray;
    /* padding: 20px; */
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productImage{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    /* border-radius: 50px; */
    /* border: 2px solid black; */
}
.productImage>img {
    /* margin-top: -30px; */
    width: 100%;
    height: 100%;
    padding: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.productTxt {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    /* justify-content: center; */
    align-items: center;
    /* gap: 2%; */
}
.productTxt> p{
    font-size: 17px;
    color: coral;
    text-align: center;

}
.productTxt > h1{
    text-align: center;
    font-size: 20px;
}
.productTxt > i{
    display: flex;
    gap: 5px;
    margin-bottom: 6px;
}
.addToCartBtn{
    background-color: peru;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 18px;
}
#price{
    font-family: "Modern Antiqua", serif;
    
}
/* .category{
    background-color: crimson;
    color: white;
    border: 0;
    width: 70px;
    height: 30px;
    position: absolute;
    margin-left: -220px;
} */

@media screen and (max-width: 1080px) {
    .Block{
        width: 260px;
    }
}
@media screen and (max-width: 940px) {
    .Block{
     width: 300px;
    }
}

@media screen and (max-width: 480px) {
    .Block{
     width: 260px;
     height: 360px;
    }
    .productTxt{
        height: 50%;
    }
    .productImage{
        height: 50%;
    }
}

@media screen and (max-width: 370px) {
    .Block{
     width: 240px;
    }
}