.footer{
    width: 99%;
    height: 260px;
    /* border: 3px solid black; */
    display: flex;
    gap: 4%;
    justify-content: center;
    /* padding-left: 20px;
    padding-right: 20px; */

}
.footerLogo{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* border: 4px solid red; */
}
.footerLogo img{
    border-radius: 50px;
    width: 250px;
    height: 200px;
}
.box{
    width: 200px;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    /* justify-content: center; */
}
.icons{
    height: 100px;
    width: 100%;
    /* border: 4px solid aqua; */
    display: flex;
    justify-content: center;
    gap: 10%;
}
.icons i{
    font-size: 24px;
}
.icons2{
    width: 100%;
    height: 100px;
    /* border: 3px solid black; */
    display: flex;
    gap: 5%;
}
.icons2 i{
    font-size: 24px;
}
@media screen and (max-width: 957px) {
    .footer{
        padding-right: 50px;
    }
}
@media screen and (max-width: 800px) {
    .footer{
        /* padding-right: 50px; */
        padding-left: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 800px;
        /* gap: 10px; */
        /* border: 3px solid black; */
    }
    .footerLogo{
        /* border: 3px solid crimson; */
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        height: 200px;
        margin-bottom: 20px;
    }
    .footerLogo > img{
        margin-left: 30px;
    }
    .box{
        height: 200px;
        display: flex;
        flex-direction: column;
        text-align: center;
        /* border: 10px solid black; */
        /* justify-content: center; */
        /* align-items: center; */
    }
    .icons2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



@media screen and (max-width: 700px){
    .footer{
        padding-left: 50px;
    }
}

@media screen and (max-width: 653px){
    .footer{
        height: 500px;
    }
}

@media screen and (max-width: 460px){
    .footer{
        height: 700px;
    }
}

@media screen and (max-width: 460px){
    .footer{
        height: 900px;
    }
}

@media screen and (max-width: 400px){
    .footer{
        height: 1100px;
    }
}